[Unit]
After=network.service

[Service]
ExecStart=/usr/local/bin/jupyter notebook --config=/home/pi/.jupyter/jupyter_notebook_config.py
User=pi

[Install]
WantedBy=default.target
